<!DOCTYPE html>
<html lang="en">
    <head>
            <% include partials/meta.ejs %> 
    </head>
<body style="overflow: hidden">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="section">
        <div class="container not-found">
                <h1 style="color:grey">Hmm.. something's missing</h1>
                <a class="button" href="/">Go home</a>
        </div>
      </div>
  
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>