<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/meta.ejs %> 
    </head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <% include partials/header.ejs %> 
    <div class="section hero">
        <div class="container">
          <div class="row">
            <div class="one-half column">
              <h4 class="hero-heading">Start sharing files, links and texts between devices. Let users connect from anywhere.</h4>
              <a class="button button-primary start-connection" href="/share">Start sharing</a>
              <a class="button button-primary" href="/connect">connect</a>
            </div>
            <div class="one-half column phones">
              <img class="connected-world" src="images/undraw_connected_8wvi.png">
            </div>
          </div>
        </div>
      </div>
    <div class="section main">
        <div class="container">
            <div class="row">
                <div class="one-third column value">
                    <i class="fas fa-shield-alt icons"></i>
                  <h5 class="value-heading">SAFE</h5>
                  <ul>
                    <li>Secure Encrypted connection.</li>
                    <li>Message is End to end encrypted.</li>
                    <li>Everything is erased as soon as you close the window.</li>
                  </ul>
                </div>
                <div class="one-third column value">
                    <i class="fas fa-thumbs-up icons"></i>
                    <h5 class="value-heading">CONVENIENT</h5>
                    <ul>
                        <li>Multi-device Users</li>
                        <li>Access the files from any location, on PC and mobile.</li>
                        <li>Most of the world accesses the internet on multiple devices.</li>
                      </ul>
                </div>
                <div class="one-third column value">
                    <i class="fas fa-bolt icons"></i>
                  <h5 class="value-heading">FAST</h5>
                  <ul>
                      <li>No login/registration required.</li>
                      <li>All you need is a browser.</li>
                      <li>Share Files UPTO 100 MB, URL or arbitrary text.</li>
                    </ul>
                </div>
              </div>
            </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="eleven column">
            <p>Handcrafted by Justine Cantado</p>
          </div>
        </div>
      </div>
    </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>